@page "{districtId:int}"
@model ORSV2.Pages.Schools.IndexModel
@using ORSV2.Models
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Schools";
    var user = await UserManager.GetUserAsync(User);
    var roles = user != null ? await UserManager.GetRolesAsync(user) : new List<string>();
    bool canEdit = roles.Contains("OrendaAdmin") || roles.Contains("OrendaManager");
}

<partial name="_Breadcrumbs" model="Model.Breadcrumbs" />

<h1>Schools</h1>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>SystemID</th>
            <th>Local ID</th>
            <th>Type</th>
            <th>Sync Enabled</th>
            <th>GA</th>
            <th>CA</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var school in Model.Schools)
        {
            <tr>
                <td>@school.Name</td>
                <td>@school.Id</td>
                <td>@school.LocalSchoolId</td>
                <td>@school.SchoolType</td>
                <td>@school.enabled</td>
                <td>@school.GA</td>
                <td>@school.CA</td>
                <td>
                    @if (canEdit)
                    {
                        <a asp-page="Edit" asp-route-id="@school.Id">Edit</a>
                        <span class="mx-1">|</span>
                        <a asp-page="Delete" asp-route-id="@school.Id">Delete</a>
                        <span class="mx-1">|</span>
                    }
                    <a asp-page="/Students/Index" asp-route-districtId="@Model.DistrictId"
                        asp-route-schoolId="@school.Id">View Students</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@* <a asp-page="Create" asp-route-districtId="@Model.DistrictId" class="btn btn-primary">Add New School</a> *@
